

body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: roboto;
}

p{
  font-family: 'Roboto', sans-serif;
}

#mood-index {

  height: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -5vh;
  padding-bottom: 5vh;


}

.index-movie-card{
  flex: 0 0 7rem;
  margin: 1.5rem;
  display:flex;
  flex-direction:column;

}



#movie-index{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
}

#movie-scroll-index {
  display: none;
  overflow-y: hidden;
  overflow-x: auto;
  height: 25rem;
  background-color: black;
  color: white;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

}
#movie-scroll-index::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

header {
  background-color:rgba(0, 0, 0, 0);
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  position:fixed;
}

#header-title {
  margin: 0 0 0 2rem;
  font-weight: normal;
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  color: white;
}

#header-title:active{
  font-size: 2.9rem;
}

#header-title:hover{
  color: rgb(209, 209, 209);
  cursor: pointer;
}

.mood-card{
  margin: 2rem;
  height: 8rem;
  width: 8rem;
  font-size: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.mood-card-icon:active{
  color: rgb(168, 168, 168);
  font-size: 5rem;
  margin-bottom: 1rem;
  padding-top: .2rem;

}

.mood-card-icon:hover{
  cursor: pointer;
}


.mood-name{
  width: 100%;
  text-align: center;
}
.movie-image {
  width: 100%;
  height: auto;
  max-height: ;
}

.movie-image:hover{


}

.movie-scroll-image {
  width: 100%;
  height: auto;
}

.movie-scroll-image:hover{
  width: 110%;

}

.movie-card{
  flex: 0 0 7rem;
  margin: 1.5rem;
  display:flex;
  flex-direction:column;
  justify-content: space-between;

}

.movie-title{
}

.movie-show-image{
}

.movie-show-info{

}
.movie-show-info h4{
  margin: 0;
}



.movie-show-info{
  color: white;
}

.movie-show-info h4{
  font-size: 3rem;
}

.movie-show-info p {
  font-size: 1.25rem;
}

#movie-show{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 95%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

h4{
  font-size: 1.2rem;

}


#movieBackground{
  margin: 0;
  padding: 0;

}
#movieBackgroundVideo{
  width: 100%;
  height: auto;

  margin-top: -10rem;
  margin-bottom: ;

}
