

body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: roboto;
}

p{
  font-family: 'Roboto', sans-serif;
}

#mood-index {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  height: auto;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

#movie-index{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
}

#movie-scroll-index {
  display: none;
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 20rem;
  background-color: black;
  color: white;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
#movie-scroll-index::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

header {
  background-color: black;
  height: 5vh;
  display: flex;
  align-items: center;
  margin: 1rem;
}

#header-title {
  margin: 0 0 0 2rem;
  font-weight: normal;
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  color: white;
}

.mood-card{
  margin: 2rem;
  border: 1px solid black;
  height: 8rem;
  width: 8rem;
}

.mood-image{
  width: 100%;
}

.mood-name{
  width: 100%;
  text-align: center;
}
.movie-image {
  width: 100%;
  height: auto;
}

.movie-card{
  flex: 0 0 7rem;
  margin: 1.5rem;
}

.movie-title{
}

.movie-show-image{
}

.movie-show-info{

}
.movie-show-info h4{
  margin: 0;
}



.movie-show-info{
  color: white;
}

.movie-show-info h4{
  font-size: 3rem;
}

.movie-show-info p {
  font-size: 1.25rem;
}

#movie-show{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 95%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

h4{
  font-size: 1.2rem;
  
}